<div class="scrollPrompt__inner">
	<button class="btn-icon scrollPrompt__button js-scrollPrompt-btn a11y-ignore" tabindex="-1" aria-hidden="true">
		<div class="scrollPrompt__btn-icon">
			<div class="icon"></div>
		</div>
	</button>
</div>
